<template name="bookings_list">
	<h4>Ventas</h4>
	<select class="form-control month-select">
		<option value="1">Enero</option>
		<option value="2">Febrero</option>
		<option value="3" selected>Marzo</option>
	</select>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>C&oacute;digo</th>
				<th>T&iacute;tulo</th>
				<th>BRM</th>
				<th>Valor</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{{#each bookings}}
			<tr>
				<td><a target="_blank" rel="noopener noreferrer" href="https://intrasoft.softtek.com/proposta/prop_dados.asp?cli={{customerCode}}&opp={{bookingConsecutive}}">{{code}}</a></td>
				<td>{{title}}</td>
				<td>{{brm}}</td>
				<td>{{value}}</td>
				<td><a href="/bookings/view/{{_id}}">ver</a></td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<div class="content-row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title"><b>Performance {{thisMonth}}.{{thisYear}}</b></div>
			</div>
			<div class="panel-body">
			<ul>{{#with statistics}}
			<li>Ventas mes: {{totalValueLC}}</li>
			<li>Horas: {{totalHours}}</li>
			{{/with}}</ul>
			</div>
		</div>
	</div>
</template>

<template name="bookings_view">
	<h4>Ajustar venta</h4>
    <form class="view-booking form-horizontal">
    	{{#with booking}}
    	<div class="form-group">
    		<label class="control-label col-md-2">C&oacute;digo</label>
    		<div class="col-md-6"><input type="text" name="code" id="code" value="{{code}}" class="form-control" readonly></div>
    	</div>
    	<div class="form-group">
    		<label class="control-label col-md-2">T&iacute;tulo</label>
	    	<div class="col-md-6"><input type="text" name="title" id="title" value="{{title}}" class="form-control" readonly></div>
    	</div>
    	<div class="form-group">
    		<label class="control-label col-md-2">BRM</label>
	    	<div class="col-md-6"><input type="text" name="brm" id="brm" value="{{brm}}" class="form-control" readonly></div>
	    	<div class="col-md-4"><input type="text" name="adjBrm" id="adjBrm" value="{{adjBrm}}" class="form-control"></div>
    	</div>
    	<div class="form-group">
    		<label class="control-label col-md-2">Valor de venta</label>
	    	<div class="col-md-6"><input type="text" name="value" id="value" value="{{value}}" class="form-control" readonly></div>
    	</div>
    	<div class="form-group">
    		<label class="control-label col-md-2">Horas</label>
	    	<div class="col-md-6"><input type="text" name="value" id="value" value="{{hours}}" class="form-control" readonly></div>
	    	<div class="col-md-4"><input type="text" name="adjHours" id="adjHours" value="{{adjHours}}" class="form-control"></div>
    	</div>
    	<div class="form-group">
    		<div class="row"><div class="col-md-4">
    		<div class="checkbox">
    			<label class="control-label col-md-2">
    				<input type="checkbox" name="isService">Servicios
    			</label>
			</div>
			</div></div>
    	</div>
    	{{/with}}
    	<div class="modal-footer col-md-8">
	     	<button class="btn btn-success" type="submit">Salvar</button>
	     	<a class="btn btn-normal cancel" href="/bookings">Volver</a>
     	</div>
    </form>
	
</template>