<template name="footer">
<!--footer-->
<div class="site-footer">
  <div class="container">
    <hr class="dashed" />
    <div class="row">
      <div class="col-md-6">
        <h3>Talk to us</h3>
        <ul>
          <li>Tweet us at <a href="https://twitter.com" target="_blank">@YourTwitter</a>&nbsp;&nbsp;&nbsp;&nbsp;Email us at <span class="connect">info@yourdomain.com</span></li>
          <li>
            <a title="Twitter" href="https://twitter.com" target="_blank" rel="external nofollow"><i class="fa fa-twitter"></i></a>
            <a title="Facebook" href="https://www.facebook.com" target="_blank" rel="external nofollow"><i class="fa fa-facebook"></i></a>
            <a title="Google+" href="https://plus.google.com/" target="_blank" rel="external nofollow"><i class="fa fa-google-plus"></i></a>
            <a title="Github" href="https://github.com/alexquiambao" target="_blank" rel="external nofollow"><i class="fa fa-github"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
          <h3 style="margin-bottom: 15px;">Newsletter</h3>
          <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
            <input style="margin-bottom: 10px;" type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
            <span class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></span>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
    <hr class="dashed" />
    <div class="copyright clearfix">
      <p><b>Bootflat</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href="getting-started.html">Getting Started</a>&nbsp;&bull;&nbsp;<a href="index.html">Documentation</a>&nbsp;&bull;&nbsp;<a href="https://github.com/Bootflat/Bootflat.UI.Kit.PSD/archive/master.zip">Free PSD</a>&nbsp;&bull;&nbsp;<a href="colors.html">Color Picker</a></p>
      <p>Code licensed under <a href="http://opensource.org/licenses/mit-license.html" target="_blank" rel="external nofollow">MIT License</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" rel="external nofollow">CC BY 3.0</a>.</p>
    </div>
  </div>
</div>
</template>